{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="icon" href="{% static "assets/Isotipo-TGHS-Negro.svg" %}">
    <title>{{titulo}}</title>
    <style>
        [class^="col-md"] p {
            margin-bottom: 0 !important;
        }
    </style>

</head>

<body>
    {% include "partials/header.html" %}
    {% block contenido %}
    {% endblock contenido %}
    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}

</body>

</html>